<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MusicShuffler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MusicShuffler.Properties.Settings>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplicationDataDirectory" serializeAs="String">
                <value>%AppData%\MusicShuffler\</value>
            </setting>
            <setting name="PresetsFilePath" serializeAs="String">
                <value>%AppData%\MusicShuffler\Presets.xml</value>
            </setting>
            <setting name="LibraryFilePath" serializeAs="String">
                <value>%AppData%\MusicShuffler\Library.xml</value>
            </setting>
            <setting name="SaveSettingsOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveLibrary" serializeAs="String">
                <value>True</value>
            </setting>
        </MusicShuffler.Properties.Settings>
    </userSettings>
</configuration>